.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.result {
  width: 100%;
  min-height: 10rem;
  font-size: 30px;
  line-height: 7rem;
  align-items: center;
  background-color: hsl(214, 50%, 25%);
  padding: 10px 30px;
  box-sizing: border-box;
  color: #dcdcdc;
  border-radius: 1rem 1rem 0px 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calculator-body {
  max-width: 300px;
  margin: auto;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  aspect-ratio: 1;
  background-color: #bbb;
  border-radius: 0px 0px 1rem 1rem;
  background-color: hsl(214, 50%, 15%);
}

.button {
  font-size: 20px;
  border: none;
  border-radius: 1rem;
  color: #bcbcbc;
  transition: all 0.2s ease;
  background-color: transparent;
}

.button:hover {
  background-color: hsl(214, 50%, 20%);
}